
<% if user_signed_in? %>
  <%= link_to "Action", "#", class: "dropdown-item" %>
  <%= link_to "Another action", "#", class: "dropdown-item" %>
  <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
<% else %>
  <%= link_to "Login", new_user_session_path %>
<% end %>


<h1>heyyy how are u guys</h1>
<h3>These are your debts...... SADFACE</h3
